<footer>
  <hr />
  {{ if .Site.Params.social }}
    <nav class="social">
      <ul>
        {{ range .Site.Params.social }}
          <li>
            <a href="{{ .url }}" title="{{ .name }}" rel="noopener" target="_blank">
              {{ .name }}
            </a>
          </li>
        {{ end }}
      </ul>

    </nav>
  {{ end }}

  {{ partial "menu" . }}

  <div class="copyright">
    View the source code for this website on <a href="https://gitlab.com/whoisniek/niekkeijzer.com" rel="noopener" title="Website source code on Gitlab">Gitlab</a>
  </div>
</footer>
