<nav>
  <ul>
    {{ range .Site.Sections }}
      {{ $sectionPages := where .Site.Pages "Section" .Section }}
      <!-- Only show section if it contains at least 2 pages (assuming all sections have an _index.md file) -->
      {{ if ge (len $sectionPages) 2 }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}

    {{ if .Site.RegularPages }}
     {{ range first 5 .Site.RegularPages }}
      {{ if not .Section }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>

</nav>
