<input type="checkbox" class="light-switch" id="light-switch">
<label for="light-switch" class="light-switch">
  <!-- TODO: Add 'bars' to indicate light theme -->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M6 3.083c0-.421.297-.801.734-.897 4.408-.97 4.575-.844 5.001-1.678.166-.322.497-.508.842-.508 1.443 0 1.128 2.504-1.117 3.032-.639.15-4.314.949-4.314.949-.586.129-1.146-.307-1.146-.898zm1.146 4.059l10.119-2.226c.439-.096.735-.476.735-.896 0-.587-.559-1.028-1.146-.898l-10.12 2.225c-.507.112-.825.604-.711 1.1s.617.807 1.123.695zm2.012 6.361v.497h-2.158v2.639c0 1.779 1.631 2.58 2 4.361h6c.375-1.753 2-2.585 2-4.361v-2.639h-2.157v-.958c0-.734.52-1.372 1.252-1.535l1.062-.291c.438-.096.734-.476.734-.896 0-.587-.559-1.028-1.146-.898l-1.259.344c-1.456.333-2.486 1.602-2.486 3.065v1.169h-2v-.689c0-1.627-.865-2.291-2.077-3.394l8.343-1.835c.438-.097.734-.476.734-.897 0-.59-.559-1.028-1.146-.898l-10.12 2.226c-.437.096-.734.476-.734.896 0 .292.131.494.344.707.843.843 2.814 1.68 2.814 3.387zm4.141 10.156c-.19.216-.465.341-.753.341h-1.093c-.288 0-.562-.125-.752-.341l-1.451-1.659h5.5l-1.451 1.659z"/>
  </svg>
</label>
