{{ define "main" }}
<main>
  {{ range $index, $page := .Data.Pages }}
    {{ if gt $index 0 }}
      <hr />
    {{ end }}

    <article>
      <h2>{{ .Title }}</h2>

      <aside class="meta">
        
        {{ if .Params.tags }}
          <article class="tech">
            <!-- TODO: Link to taxonomy page?-->
            <h3>Technology stack</h3>

            <ul>
              {{ range .Params.tags }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </article>
        {{ end }}

        {{ if or .Params.demoUrl .Params.sourceUrl }}
          <article class="demo">
            <h3>See in action</h3>

            <ul>
              {{ if .Params.demoUrl }}
                <li>
                  <a href="{{ .Params.demoUrl }}" title="{{ .Title }} demo" rel="noopener" target="_blank">
                    Demo
                  </a>
                </li>
              {{ end }}

              {{ if .Params.sourceUrl }}
                <li>
                  <a href="{{ .Params.sourceUrl }}" title="{{ .Title }} source" rel="noopener" target="_blank">
                    Source
                  </a>
                </li>
              {{ end }}
            </ul>
          </article>
        {{ end }}

      </aside>

      <article class="content">
        {{ if .Content }}
          {{ .Content }}
        {{ end }}
      </article>

    </article>

  {{ end }}
</main>
{{ end }}
