<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ $title }}</title>

  <meta name="description" content="{{ .Description }}">
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="manifest" href="{{ "/manifest.json" | relURL }}">
  <meta name="application-name" content="{{ $title }}">
  <meta name="theme-color" content="#282a36">

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
  {{ end }}

  <link rel="stylesheet" href="{{ "static/css/main.css" | relURL }}">
  <script defer src="{{ "static/js/main.bundle.js" | relURL }}"></script>
</head>
<body>
  {{ partial "theme-switcher" }}
  <div class="{{ if eq .IsHome true }}home{{ else }}page{{ end }} container">
    {{ block "header" . }}

    {{ if eq .IsHome false }}
      <header>
          <h1>{{ .Title }}</h1>
      </header>
    {{ end }}

    {{ end }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
        {{ partial "footer" . }}
    {{ end }}
  </div>
</body>
</html>
