{{ define "main" }}
<main>
  {{ range .Data.Pages }}
    <article>
      <h2>{{ .Title }}</h2>

      <article class="meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02-01-2006" }}</time>
      </article>

      {{ if .Content }}
        {{ .Content| truncate 250 }}
      {{ end }}

      <a href="{{ .RelPermalink }}" title="{{ .Title }}">read more ></a>
    </article>
  {{ end }}
</main>
{{ end }}
