@import 'sanitize.css';
@import 'page.css';
@import 'post.css';
@import 'menu.css';
@import 'theme.css';
@import '_vars.css';

body {
  font-family: var(--font-system-ui);
}

.container {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.light-theme {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 1.35rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-foreground);
}

a:hover {
  color: var(--color-active);
  border-bottom: 1px solid var(--color-active);
}

nav a,
nav a:hover {
  border-bottom: none;
}
