nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

main > nav ul {
  flex-direction: column;
}

main nav li::before {
  font-size: 2.5rem;
}

nav:not(.social) li::before {
  content: '\2215';
  color: var(--color-active);
}

nav a {
  color: var(--color-foreground);
  text-decoration: none;
}

main nav {
  font-size: 3rem;
  text-align: left;
}

.tags li {
  font-size: 1rem;
}

nav.social ul {
  margin-bottom: 0;
}

nav.social li {
  font-size: 2rem;
}

.copyright {
  margin-top: 15px;
  font-size: 0.8rem;
}

.tags li:not(:first-child) {
  padding-left: 5px;
}
