/**
 * Index layout
 */
.home {
  display: flex;
  min-height: 100vh;
  padding: 10rem 25%;
  align-items: center;
}

/**
 * Page layout
 */

.page {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10rem 10%;
}

/** Large screens **/
@media only screen  and (min-width : 1824px) {
  .page {
    padding: 10rem 30%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page {
    padding: 8rem;
  }
}

/** Tables **/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .page {
    padding: 1.25rem;
  }
}

/** Phones **/
@media (min-width: 320px) and (max-width: 767px) {
  .page {
    padding: 1.25rem;
  }
}

header {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

main {
  width: 100%;
}

/** Footer menu */
footer {
  width: 100%;
}

footer hr {
  width: 70%;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer .copyright {
  justify-content: center;
  text-align: center;
}

.page > footer nav ul {
  list-style-type: none;
  display: flex;
}

.page > footer nav li {
  font-size: 16px;
  padding: 0 5px;
}

/**
 * Article layout
 */

article {
  text-align: left;
}

article .meta {
  font-size: 0.9rem;
}
