.meta ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.meta li {
  text-decoration: none;
  margin-right: 5px;
}

.meta {
  font-size: 0.8rem;
}

.meta h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.meta article {
  float: left;
  width: 50%;
  margin-bottom: 1.5rem;
}
