.light-switch {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.light-switch svg {
  color: var(--color-foreground);
  height: 2.5rem;
  width: auto;
}

.light-switch:hover {
  cursor: pointer;
}

input.light-switch {
  display: none;
}

/** Light theme **/
input.light-switch:checked + label svg {
  color: var(--color-background);
}

input.light-switch:checked ~ .container {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

input.light-switch:checked ~ .container a {
  color: var(--color-background);
  border-color: var(--color-background);
}

input.light-switch:checked ~ .container a:hover {
  color: var(--color-active);
  border-color: var(--color-active);
}
